<!DOCTYPE html>
<html lang="en">

<head>
	<title>DRS Sign-in</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'cardreader/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'cardreader/css/style.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row" id="header">
			  <div class="col-sm-2">
				  <br>
					<img id="wLogo" src="{% static 'cardreader/img/Western_Washington_University_Logo.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
			  </div>
		</div><hr>

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid">
			<p id="footer"><a href="https://www.wwu.edu/">Western Washington University</a> | <a href="http://www.wwu.edu/drs/">disAbility Resources for Students</a> | <a href="http://www.wwu.edu/drs/contact.shtml">Contact Us</a> | <a href="/admin/logout">--- Log Out ---</a></p>
		</div>
	</footer>

</body>

</html>
