<!DOCTYPE html>
<html lang="en">

<head>
	<title>DRS Sign-in</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'cardreader/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'cardreader/css/style.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>

<body class="body" style="background-color:#f6f6f6">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="row" id="header">
			  <div class="col-sm-2">
				  <br>
				  <center>
					<img src="{% static 'cardreader/img/Western_Washington_University_Logo.png' %}" class="responsive-img" style='max-height:100px;' alt="face">
				  </center>
			  </div>
				  <h2 id="name">DRS Sign-in</h2>
		</div><hr>

			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}
			</div>
		  </div>
		</div>
	</div>
	<footer>
		<div class="container-fluid">
			<p id="footer"><a href="#" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
	</footer>

</body>

</html>
