<h1> Please Swipe Your Western ID or Enter W# </h1>

<form action="/home/" method="post" id="wform" autocomplete="off">
    {% csrf_token %}
	<fieldset class="form-group" id="winput">
		{{ form }}
    <input type="submit" value="Submit" id="submit">
	</fieldset>
</form>

<hr>

{#Not exactly sure how messages work yet since I don't explicitly pass them to the web page. Easy to implement though#}
{% if messages %}
    {% for message in messages %}
        <h3> {{ message }}</h3>
    {% endfor %}
{% endif %}
